.dark(@mixin) {
    [dark] & {
        @mixin();
    }
}

.light(@mixin) {
    @media (prefers-color-scheme: light) {
        @mixin();
    }
}

.mobile(@mixin) {
    @media screen and (max-width: 700px) {
        @mixin();
    }
}

.runtimeDark(@mixin) {
    --runtime-selection: var(--theme-color-extreme-light);
    --runtime-background: var(--theme-color-extreme-dark);
    --runtime-color: var(--theme-color-extreme-light);
    --runtime-header: var(--theme-color-extreme-dark-alpha);
    --runtime-border: var(--theme-color-extreme-light);
    @mixin();
}

.runtimeLight(@mixin) {
    --runtime-selection: var(--theme-color-dark);
    --runtime-background: var(--theme-color-extreme-light);
    --runtime-color: var(--theme-color-extreme-dark);
    --runtime-header: var(--theme-color-extreme-light-alpha);
    --runtime-border: var(--theme-color-dark);
    @mixin();
}

.animation(@delay, @duration, @fillMode, @direction) {
    animation-delay: @delay;
    animation-duration: @duration;
    animation-fill-mode: @fillMode;
    animation-direction: @direction;
    animation-timing-function: ease-in-out;
}